.section {
  padding: clamp(24px, 4vw, 64px);
  border-radius: 16px;
  position: relative;
}

.header {
  display: grid;
  gap: 8px;
  margin-bottom: 12px;
}

.lead {
  color: var(--mantine-color-gray-7);
}

.content {
  display: grid;
  gap: 12px;
}
