.banner {
  position: relative;
  overflow: hidden;
  color: var(--sb-color-text, var(--sb-color-default-text));
  background-color: var(--sb-color-bg, var(--sb-color-default-bg)) !important;
}

.banner + .banner {
  margin-top: var(--mantine-spacing-xl);
}

.banner + .banner::before {
  content: '';
  position: absolute;
  top: calc(-1 * var(--mantine-spacing-xl));
  left: 10%;
  right: 10%;
  height: var(--mantine-spacing-xl);
  background: linear-gradient(180deg, rgba(2, 6, 23, 0.4), rgba(2, 6, 23, 0));
  pointer-events: none;
}

.has-background-image {
  background-image: linear-gradient(rgba(6, 11, 26, 0.55), rgba(6, 11, 26, 0.55)), var(--sb-banner-image, none);
  background-size: var(--sb-banner-size, cover);
  background-position: var(--sb-banner-position, center);
  background-repeat: no-repeat;
  color: var(--mantine-color-gray-0);
  --sb-color-text: var(--mantine-color-gray-0);
}

.background-cover {
  --sb-banner-size: cover;
}

.background-contain {
  --sb-banner-size: contain;
}

.background-position-left {
  --sb-banner-position: left;
}

.background-position-center {
  --sb-banner-position: center;
}

.background-position-right {
  --sb-banner-position: right;
}
