.button {
  border-radius: var(--mantine-radius-sm);
  transition:
    background-color 120ms ease,
    color 120ms ease,
    border-color 120ms ease;
  border: 1px solid transparent;
  background-color: var(--sb-color-bg, var(--sb-color-default-bg));
  color: var(--sb-color-text, var(--sb-color-default-text));
}

.button:not(.is-ghost):hover {
  background-color: var(--sb-color-bg-hover, var(--sb-color-bg, var(--sb-color-default-bg)));
}

.is-ghost {
  background-color: transparent;
  border: 1px solid currentColor;

  &:hover {
    background-color: rgba(255, 255, 255, 0.08);
  }
}
