.mainLevel1 {
  padding-inline: 2rem;
}

.mainLevel2 {
  min-height: 100vh;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  color: #0070f3;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;

  @media (min-width: 800px) {
    font-size: 3rem;
  }
}

.getStarted {
  color: black;
  font-size: 0.9rem;
  padding: 1rem;
  text-align: center;

  @media (min-width: 700px) {
    font-size: 1.2rem;
  }
}

.code {
  color: black;
  font-size: 0.8rem;
  text-align: center;
}

.footer {
  display: flex;
  flex: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 1rem;
  margin-left: 1.5rem;
}
