.section {
  padding: var(--page-shell-section-padding);
  display: grid;
  gap: 16px;
}

.header {
  display: grid;
  gap: 8px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  > div > span {
    font-size: 18px !important;
    letter-spacing: 0.5px !important;
    color: var(--mantine-color-secondary-6) !important;
  }
}

.media {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  background: var(--mantine-color-whiteSmoke-6);
  width: 50%;
  margin: 1rem auto 2rem;
}

.media img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.body {
  display: grid;
  gap: 12px;

  --sb-richtext-block-gap: 1em;
}
