.box {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: var(--sb-grid-gap-ui, 1rem);
  justify-content: center;
  align-items: center;

  @media (max-width: 800px) {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}
