.section {
  padding: var(--page-shell-section-padding);
  border-radius: 16px;
  position: relative;
}

.actionsWrap {
  margin-inline: 0;

  @media (min-width: 48em) {
    margin-inline: 4rem;
  }

  @media (min-width: 62em) {
    margin-inline: 0;
  }
}

.actions {
  width: 100%;
}
