.section {
  width: 100%;
  box-sizing: border-box;

  // padding: 2rem 1rem;
  // @media (min-width: 75em) {
  padding: 4rem 1.25rem;
  // }
}

.lead[data-order='2'] {
  max-width: 760px;
  margin: 0 auto 2.3rem;
  text-align: center;
  color: var(--sb-accent-secondary, #ca294f);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;
  align-items: center;
}

@media (min-width: 75em) {
  .grid {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
}

.logo img {
  max-height: 64px;
  width: auto;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

:global(:root[data-mantine-color-scheme='dark']) {
  .logo img {
    filter: invert(1);
  }
}
