.button {
  // background-color: var(--sb-accent);
  border: 1px solid var(--sb-border);
  margin: 1rem;
  padding: var(--sb-card-padding);
  border-radius: 10px;
  text-align: left;
  color: var(--sb-text);
  max-width: 300px;
  transition: all 0.3s ease-in-out;

  &:hover {
    border-color: var(--sb-accent);
    color: var(--sb-accent);
  }
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
}

.description {
  font-size: 1rem;
  text-align: left;
  line-height: var(--sb-font-body-line-height);
}
