.button {
  // background-color: var(--sb-accent, #0070f3);
  border: 1px solid var(--sb-border, #eaeaea);
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  text-align: left;
  color: var(--sb-text, #111);
  max-width: 300px;
  transition: all 0.3s ease-in-out;

  &:hover {
    border-color: var(--sb-accent, #0070f3);
    color: var(--sb-accent, #0070f3);
  }
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
}

.description {
  font-size: 1rem;
  text-align: left;
}
