.banner {
  position: relative;
  overflow: hidden;
  color: inherit;
}

.primary-highlight {
  background-color: var(--mantine-color-blue-6);
}

.highlight-1 {
  background-color: var(--mantine-color-indigo-5);
}

.highlight-2 {
  background-color: var(--mantine-color-teal-5);
}

.highlight-3 {
  background-color: var(--mantine-color-pink-5);
}

.primary-dark {
  background-color: var(--mantine-color-dark-6);
}

.white {
  background-color: var(--mantine-color-gray-0);
}
