:global(:root) {
  --sb-color-default-bg: var(--mantine-color-carbonBlack-8);
  --sb-color-default-bg-hover: var(--mantine-color-carbonBlack-7);
  --sb-color-default-text: var(--mantine-color-gray-0);
}

.primary-highlight {
  --sb-color-bg: var(--mantine-color-neonIceLight-6);
  --sb-color-bg-hover: var(--mantine-color-neonIceLight-8);
  --sb-color-text: var(--mantine-color-carbonBlack-8);
  --sb-color-highlight: var(--mantine-color-neonIceLight-3);
}

.highlight-1,
.color_1 {
  --sb-color-bg: var(--mantine-color-bubblegumPink-6);
  --sb-color-bg-hover: var(--mantine-color-bubblegumPink-5);
  --sb-color-text: var(--mantine-color-white);
  --sb-color-highlight: var(--mantine-color-bubblegumPink-3);
}

.highlight-2,
.color_2 {
  --sb-color-bg: var(--mantine-color-amberGlow-6);
  --sb-color-bg-hover: var(--mantine-color-amberGlow-5);
  --sb-color-text: var(--mantine-color-carbonBlack-8);
  --sb-color-highlight: var(--mantine-color-amberGlow-3);
}

.highlight-3,
.color_3 {
  --sb-color-bg: var(--mantine-color-blushedBrick-6);
  --sb-color-bg-hover: var(--mantine-color-blushedBrick-5);
  --sb-color-text: var(--mantine-color-white);
  --sb-color-highlight: var(--mantine-color-blushedBrick-3);
}

.primary-dark {
  --sb-color-bg: var(--mantine-color-carbonBlack-8);
  --sb-color-bg-hover: var(--mantine-color-carbonBlack-7);
  --sb-color-text: var(--mantine-color-white);
}

.white {
  --sb-color-bg: var(--mantine-color-whiteSmoke-0);
  --sb-color-bg-hover: var(--mantine-color-whiteSmoke-9);
  --sb-color-text: var(--mantine-color-carbonBlack-8);
}

.primary-background {
  --sb-color-bg: var(--mantine-color-carbonBlack-9);
  --sb-color-bg-hover: var(--mantine-color-carbonBlack-9);
  --sb-color-text: var(--mantine-color-white);
}

.background-1 {
  --sb-color-bg: var(--mantine-color-carbonBlack-8);
  --sb-color-bg-hover: var(--mantine-color-carbonBlack-8);
  --sb-color-text: var(--mantine-color-white);
}

.background-2 {
  --sb-color-bg: var(--mantine-color-carbonBlack-7);
  --sb-color-bg-hover: var(--mantine-color-carbonBlack-7);
  --sb-color-text: var(--mantine-color-white);
}

.background-3 {
  --sb-color-bg: var(--mantine-color-carbonBlack-6);
  --sb-color-bg-hover: var(--mantine-color-carbonBlack-6);
  --sb-color-text: var(--mantine-color-white);
}

.background-4 {
  --sb-color-bg: var(--mantine-color-graphite-8);
  --sb-color-bg-hover: var(--mantine-color-graphite-8);
  --sb-color-text: var(--mantine-color-white);
}

.background-5 {
  --sb-color-bg: var(--mantine-color-graphite-7);
  --sb-color-bg-hover: var(--mantine-color-graphite-7);
  --sb-color-text: var(--mantine-color-white);
}

.background-6 {
  --sb-color-bg: var(--mantine-color-gunmetal-8);
  --sb-color-bg-hover: var(--mantine-color-gunmetal-8);
  --sb-color-text: var(--mantine-color-white);
}

.background-7 {
  --sb-color-bg: var(--mantine-color-gunmetal-6);
  --sb-color-bg-hover: var(--mantine-color-gunmetal-6);
  --sb-color-text: var(--mantine-color-white);
}

.background-8 {
  --sb-color-bg: var(--mantine-color-gunmetal-3);
  --sb-color-bg-hover: var(--mantine-color-gunmetal-3);
  --sb-color-text: var(--mantine-color-carbonBlack-8);
}

.background-9 {
  --sb-color-bg: var(--mantine-color-whiteSmoke-3);
  --sb-color-bg-hover: var(--mantine-color-whiteSmoke-3);
  --sb-color-text: var(--mantine-color-carbonBlack-8);
}

.background-10 {
  --sb-color-bg: var(--mantine-color-whiteSmoke-1);
  --sb-color-bg-hover: var(--mantine-color-whiteSmoke-1);
  --sb-color-text: var(--mantine-color-carbonBlack-8);
}

.text-white {
  --sb-color-text: var(--mantine-color-white);
}

.text-primary-dark {
  --sb-color-text: var(--mantine-color-carbonBlack-8);
}
